doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Login - Panel de Admin
        link(rel="stylesheet" href="/css/styles.css")
        script(type="module" defer src="/js/login.js")
    body
        header
            h1 Iniciar Sesión
        main
            section
                form(id="loginForm")
                    label(for="username") Usuario:
                    input(type="text" id="username" name="username", required)
                    br
                    label(for="password") Contraseña:
                    input(type="password" id="password" name="password", required)
                    br
                    button(type="submit") Iniciar Sesión
                if error
                    p.error= error
                p#message
        footer
            p &copy; 2025 Sistema de Errores Ranelagh